body{
    margin:0;
    padding:0;
}
header{

    min-height: 70px;
    background-color: blue;
    padding: 30px 0px 0px 10px;
    font-size: 2em;
    color: aqua;
}
.main
{
    display: flex;
    
}
.left{

    flex:5;
    background-color: green;
    height: 400px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content:center ;
    

}
.right{
    display: flex;
    flex: 3;
    background-color: orange;
    height: 400px;
    font-size: 4em;
    align-items: center;
    justify-content: center;
}
footer{
    background-color:aqua ;
    height: 100px;
    font-size: 3em;
}