{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env":{
        "browser" : true
    },
   "extends":[
    "eslint:recommended"
   ],
   "rules": {
    "no-undef":"warn",
    "prefer-const":"warn",
    "camelcase":"warn",
    // "quotes":[1,"backtick"],
    "spaced-comment":"warn"

   }
}